.main {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media screen and (max-width: 800px) {

    &__profile {
      order: 1;
      max-width: 300px;
      margin: 0;
    }

    &__statistics {
      order: 2;
    }
  }
}
