@import './reset.scss';
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("./fonts/SourceSansPro-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'SourceSansPro-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
